<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56010820688-npp37jctoi82d6aa3ivpg3ucam5f7g8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56010820688-npp37jctoi82d6aa3ivpg3ucam5f7g8m</string>
	<key>API_KEY</key>
	<string>AIzaSyC-eTtilE_Kuqa2JhbcC1ILKCm5idlezEw</string>
	<key>GCM_SENDER_ID</key>
	<string>56010820688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rmit.ios.noobs.RMIT-Marvelous-Event-Planner</string>
	<key>PROJECT_ID</key>
	<string>rmit-marvelous-event-planner</string>
	<key>STORAGE_BUCKET</key>
	<string>rmit-marvelous-event-planner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56010820688:ios:9b7414e919af03e64e9555</string>
</dict>
</plist>